<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
      
    <script src="@Url.Content("~/Scripts/cultures/kendo.culture.fr-FR.min.js")"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gestion Coupe Quach Van ke", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            
            @{
                if (User.Identity.IsAuthenticated)
                {@:<div class="navbar-brand float-right"><a href="@Url.Action("logout", "auth")">Déconnexion</a></div>
            }}
        </div>
    </div>
    <div class="container-fluid">
        
        @RenderBody()
    </div>
   
    <footer class="footer"></footer>

    @RenderSection("scripts", required: false)
    @*<script>
        kendo.culture("fr-FR");     

        $(window).on('unload', function () {
            $.ajax({
                url: "Auth/LogOut"
            });
        });
    </script>*@
</body>
</html>
