<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jszip")

    @*<script src="@Url.Content("~/Scripts/cultures/kendo.culture.fr-FR.min.js")"></script>*@

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Gestion Coupe Quach Van Ke</a>
            </div>

            @{
                if (User.Identity.IsAuthenticated)
                {
                    @:<div class="navbar-brand pull-right"><a class="navbar-link" title="Déconnexion" href="@Url.Action("logout", "auth")"> Déconnexion : @this.Request.GetOwinContext().Authentication.User.Claims.First().Value</a></div>
                }
            }
        </div>
    </div>
    <div class="container-fluid">

        @RenderBody()
    </div>
    <span id="notification" style="display:none;"></span>
    <footer class="footer"></footer>

    @RenderSection("scripts", required: false)
    <script id="infoTemplate" type="text/x-kendo-template">
        <div class="alert alert-info no-bottom-margin">
            <span class="glyphicon glyphicon-signal bigger-text"> #= title #</span>
        </div>
    </script>

    <script id="errorTemplate" type="text/x-kendo-template">
        <div class="alert alert-danger no-bottom-margin">
            <span class="glyphicon glyphicon-remove-circle bigger-text"> #= title #</span>
        </div>
    </script>

    <script id="successTemplate" type="text/x-kendo-template">
        <div class="alert alert-success no-bottom-margin">
            <span class="glyphicon glyphicon-ok-circle bigger-text"> #= title #</span>
        </div>
    </script>
    <script>
        $("#notification").kendoNotification({
            position: {
                pinned: true,
                bottom: 100,
                right: 100
            },
            autoHideAfter: 2500,
            allowHideAfter: 1000,
            stacking: "up",
            templates: [{
                type: "info",
                template: $("#infoTemplate").html()
            }, {
                type: "error",
                template: $("#errorTemplate").html()
            }, {
                type: "success",
                template: $("#successTemplate").html()
            }]

        }).data("kendoNotification");
    </script>
</body>
</html>
