<div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="@System.Web.VirtualPathUtility.ToAbsolute("~/Club/")">Clubs</a></li>
                <li><a href="@System.Web.VirtualPathUtility.ToAbsolute("~/ResponsableClub/")">Responsables des Clubs</a></li>
                <li><a href="@System.Web.VirtualPathUtility.ToAbsolute("~/Competiteur/")">Compétiteurs</a></li>
                <li><a href="@System.Web.VirtualPathUtility.ToAbsolute("~/Encadrant/")">Encadrants</a></li>
                <li class="divider"></li>
                <li><a href="@System.Web.VirtualPathUtility.ToAbsolute("~/Coupe/")">Coupes</a></li>
                <li><a href="@System.Web.VirtualPathUtility.ToAbsolute("~/ResponsableCoupe/")">Responsable Coupe</a></li>
                <li><a href="@System.Web.VirtualPathUtility.ToAbsolute("~/Medecin/")">Médecins</a></li>
                <li><a href="@System.Web.VirtualPathUtility.ToAbsolute("~/TypeEpreuve/")">Catégories d'Epreuve</a></li>
                <li><a href="@System.Web.VirtualPathUtility.ToAbsolute("~/EpreuveTechnique/")">Epreuves Techniques</a></li>
                <li><a href="@System.Web.VirtualPathUtility.ToAbsolute("~/EpreuveCombat/")">Epreuves Combat</a></li>
                <li><a href="@System.Web.VirtualPathUtility.ToAbsolute("~/Aire/")">Tapis</a></li>
                <li><a href="@System.Web.VirtualPathUtility.ToAbsolute("~/Ventilation/")">Ventilation</a></li>             
            </ul>
        </div>
    </div>
</div>